body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    background-image: url("wallpaper.png");
        background-repeat: no repeat;
}

/* NAVBAR CSS */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f9f3de;
    top: 0;
    position: sticky;
    z-index: 100;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin: 0 0 70px 0;
    padding: 0 10px 10px 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #d4b0ac;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #fdd9ce;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #fdd9ce;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* END NAVBAR CSS */

img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

div {
    text-align: center;
}

h1 {
    text-align: center!important;
    color: #635256;
    font-style: oblique;
    font-size: 55px;
    font-family: Calibri;
}

/* CONTACT CSS */
body .contact {
    background-image: url(wallpaper.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
    padding: 50px 0 80px;
    text-align: center;
 
}

.contact p {
    padding-bottom: 80px;
    font-weight: bold;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
    border-radius: 0 !important;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #fdd9ce;
    color: #fff;
}

.contact .btn:hover {
    background-color: #f9f3de !important;
    color: #d4b0ac !important;
}

/* END OF CONTACT CSS */

/* RESUME CSS */

h2, h3 {
    color: #cebebe;
    text-align: center;
    font-weight: normal;
}

h4{
    color: #635256;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
}

.resume p{
    color: #7f3a4f;
    font-weight: bold;
    text-align: left;
}

.resume p2{
    color: #7f3a4f;
    text-align: left!important;
}

h5{
    color: #635256;
    text-align: left;
    text-decoration: underline;
}

/* END RESUME CSS */

/* PROJECT CSS */

.sportsEqSlides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250%;
    width: 250%;
}

/* END PROJECT CSS */

.mainpage {    
    height:100%;
}

.nameAndDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: auto auto;
}

p{
    color: #7f3a4f;
    font-size: 15px;
    font-family:Calibri;
}
