@font-face {
    font-family: 'Enung';
    src: url('enung.otf')
    format('otf'),
}

body {
    margin: 0;
    font-family: 'Enung', sans-serif;
    font-weight: 400;
    background-image: url("wallpaper.png");
        background-repeat: no repeat;
}

/* NAVBAR CSS */

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f9f3de;
    top: 0;
    position: sticky;
    z-index: 100;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin: 0 0 70px 0;
    padding: 0 10px 10px 0;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #d4b0ac;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #fdd9ce;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #fdd9ce;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* END NAVBAR CSS */

img {
    width: 40px;
    height: 40px;
    margin: 5px;
}

div {
    text-align: center;
}

h1 {
    text-align: center!important;
    color: #635256;
    font-style: oblique;
    font-size: 55px;
    font-family:'Enung', Calibri;
}

/* CONTACT CSS */
body .contact {
    background-image: url(https://images.pexels.com/photos/159571/american-football-football-canada-canadian-159571.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
    padding: 50px 0 80px;
    text-align: center;
 
}

.contact p {
    padding-bottom: 80px;
    font-weight: bold;
    color:#F8F8FF;
}

.contact h2 {
    color: #F8F8FF;
    margin: 20px 0 20px;
  
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
    border-radius: 0 !important;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {
    background-color: #a85959 !important;
    color: #fff !important;
}

/* END OF CONTACT CSS */

.mainpage {    
    height:100%;
}

.nameAndDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: auto auto;
}

p{
    color: #7f3a4f;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
