body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    background-image: url("wallpaper.png");
        background-repeat: no repeat;
}

/* NAVBAR CSS */

.navbar {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f9f3de;
    top: 0;
    position: sticky;
    z-index: 100;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    margin: 0 0 10px 0;
    padding: 0 0 23px 0;
    display: block;
    position: relative;
    height: 25%;
    width: 20%;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 23px;
    margin-left: 70px;
    position: relative;
}

nav a {
    color: #d4b0ac;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #fdd9ce;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    background-color: #fdd9ce;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* END NAVBAR CSS */

div {
    text-align: center;
}

h1 {
    text-align: center!important;
    color: #635256;
    font-style: oblique;
    font-size: 55px;
    font-family: Calibri;
}

/* LINKS RECOMMENDED CSS */

.youtube img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 25%;
}

.visualstudiocode img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 15%;
}

.github img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 15%;
}

.leetcode img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 15%;
}

.codecademy img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    width: 10%;
}

.websites p{
    text-align: center;
}

/* END LINKS RECOMMENDED CSS */

/* CONTACT CSS */

.contact img {
    width: 55px;
    height: 55px;
}

/* Style inputs with type="text", select elements and textareas */
input[type = text], input[type = email], input[type= number ], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #d4b0ac; /* Light brown border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #635256;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker brown color */
input[type=submit]:hover {
    background-color: #4f3f43;
}
  
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
}

.row p{
    color: #7f3a4f;
    font-size: 15px;
    font-family:Calibri;
    text-align: center!important;
    padding-bottom: 80px;
    font-weight: bold;
}

.container p{
    color: #7f3a4f;
    text-align: left!important;
    font-size: 15px;
    font-family:Calibri;
    font-weight: bold;
    padding: 0;
}

/* END OF CONTACT CSS */

/* PROJECTS CSS */

.images img{
    width: 75%;
    height:50%;
}

/* END PROJECTS CSS */

/* RESUME CSS */

.resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 75%;
}

/* END RESUME CSS */

/* MAIN CSS */
.mainpage {    
    height:100%;
}

.nameAndDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin: auto auto;
}

.nameAndDescription img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}

p{
    color: #7f3a4f;
    font-size: 15px;
    font-family:Calibri;
    padding-bottom: 80px;
    font-weight: bold;
}

/* END MAIN CSS*/
